{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="divider">
        <h1 style="color:white">Let's get you in the loop with</h1>
        <h1 style="color:white">new and exciting software projects</h1>
        <a class="btn btn-light btn-lg" href="{{ url_for('create_acct') }}" style="margin-right: 70px; margin-left: 10px;">Sign Up</a>
        <a class="btn btn-light btn-lg" href="{{ url_for('login') }}" style="margin-right: 70px; margin-left: 10px;">Login</a>
    </div>
{% endblock %}